*{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: noto;
}
body {
    background-color: #ffffff;
}
h1{
    font-size: 70px;
    font-family: notoBold;
}
h4{
    font-size: 30px;
}
hr{
    border: 2px solid black;
}
.thin{
    border: 1px solid black;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: green;
}
input{
    font-size: 30px;
}


/* the primary header and footer used throughout all pages */
.mainHeader{
    display: flex;
    border-bottom: 5px solid black;
    height: 100px;
    width: 100%;
    font-size: 40px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(21, 71, 52, 1);
}
.mainFooter{
    display: flex;
    border-top: 5px solid black;
    height: auto;
    width: 100%;
    font-size: 30px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(21, 71, 52, 1);
    padding-bottom: 10px;
}
/* icon */
.icon{
    position: relative;
    margin-top: 13px;
    width: 85px;
    height: 85px;
    border-radius: 100%;
}


/* fonts */
@font-face {
    font-family: drink;
    src: url("./Fonts/LTDrink-Medium.ttf");
}
@font-face {
    font-family: noto;
    src: url("./Fonts/Noto_Serif/NotoSerif-Regular.ttf");
}
@font-face {
    font-family: notoBold;
    src: url("./Fonts/Noto_Serif/NotoSerif-Bold.ttf");
}

/* page boxes*/
.box{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    font-size: 17px;
}
.flexBox{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 15px;
}

/* info box */
.infoTitle{
    font-size: 15px;
}
.info{
    font-size: 10px;
}

@media screen and (max-width: 800px){
    .mainHeader{
        display: flex;
        border-bottom: 2px solid black;
        height: 60px;
        margin-left: 0;
        margin-right: 0;
        font-size: 20px;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(21, 71, 52, 1);
    }
    .mainFooter{
        display: flex;
        border-top: 5px solid black;
        height: auto;
        width: 100%;
        font-size: 20px;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(21, 71, 52, 1);
        padding-bottom: 5px;
    }
    .icon{
        position: relative;
        margin-top: 5px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    h1{
        font-size: 40px;
    }
    h4{
        font-size: 20px;
    }
    .box{
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        padding: 5px 5px 5px 5px;
        font-size: 15px; 
    }
}
