/* changes hyperlinks */
a{
    color: black;
    text-decoration: none;
}

/* makes th background IMG */
#mainIMG{
    margin-top: 0%;
    width: 100%;
}

/* icon */
.icon{
    width: 85px;
    height: 85px;
}

/* creates a class to center everything */
.center{
    text-align: center;
}

/* creates the language boxes */
.lang{
    display: flex;
    align-items: center;
    font-size: 50px;
}
#langH{
    background-color: green;
    width: 608px;
    height: 50px;
    border-radius: 3px 0px 0px 3px;
    border: 2px solid black;
    border-right: 0;
}
#langH2{
    background-color: #ffffff;
    width: 192px;
    height: 50px;
    border-radius: 0px 3px 3px 0px;
    border: 2px solid black;
    border-left: 0;
}
#langC{
    background-color: green;
    width: 536px;
    height: 50px;
    border-radius: 3px 0px 0px 3px;
    border: 2px solid black;
    border-right: 0;
}
#langC2{
    background-color: #ffffff;
    width: 264px;
    height: 50px;
    border-radius: 0px 3px 3px 0px;
    border: 2px solid black;
    border-left: 0;
}
#langJ{
    background-color: green;
    width: 352px;
    height: 50px;
    border-radius: 3px 0px 0px 3px;
    border: 2px solid black;
    border-right: 0;
}
#langJ2{
    background-color: #ffffff;
    width: 448px;
    height: 50px;
    border-radius: 0px 3px 3px 0px;
    border: 2px solid black;
    border-left: 0;
}
.langText{
    padding-left: 20px;
}

