/* creates a class to center everything */
.center{
    text-align: center;
}

/* creates the language boxes */
.lang{
    display: flex;
    align-items: center;
    font-size: 50px;
}
#langH{
 position: relative;
 border: 3px solid black;
 width: 800px;
 height: 50px;
 border-radius: 9px 9px 9px 9px;
}
#langH2{
 position: relative;
 width: 608px;
 background-color: green;
 height: 50px;
 z-index: -1;
}
#langC{
 position: relative;
 border: 3px solid black;
 width: 800px;
 height: 50px;
 border-radius: 9px 9px 9px 9px;
}
#langC2{
 position: relative;
 width: 536px;
 background-color: green;
 height: 50px;
 z-index: -1;
}
#langJ{
 position: relative;
 border: 3px solid black;
 width: 800px;
 height: 50px;
 border-radius: 9px 9px 9px 9px; 
}
#langJ2{
 position: relative;
 width: 352px;
 background-color: green;
 height: 50px;
 z-index: -1;
}
.langText{
    padding-left: 20px;
}

/* Services Boxes */
.services{
    display: flex;
    flex-direction: column;
    border-radius: 9px 9px 9px 9px;
    border: 2px solid black;
    background-color: rgb(240, 240, 240);
    width: 200px;
    text-align: center;
    height: 300px;
    font-size: 20px;
    margin: 10px;
}
.services:hover{
    border: 2px solid orange;
}
.services:hover hr{
    border: 1px solid orange;
}
.servicesIcon{
    color: rgba(21, 71, 52, 1);
    font-size: 50px;
}
.servicesTitle{
    font-size: 30px;
}
.servicesText{
    padding: 10px;
}
